[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"


[dev-packages]


{
    "python.venvPath": "C:\Users\angela_kuo\.virtualenvs\Python-914yiTxL",
    "python.pythonPath": "C:\Users\angela_kuo\.virtualenvs\Python-914yiTxL",
    "python.linting.enabled": true #如果嫌煩就false
}