/* 楷體字型 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
/* 圓體字型 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/* 仿宋體字型 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* 黑體（思源黑體）字型 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 明體字型 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);

body {
  -moz-user-select: none;  /* for Firefox 滑鼠禁選頁面 */
  -moz-text-size-adjust: 100%;
  -webkit-user-select: none;   /* for Chrome  滑鼠禁選頁面 */
  -webkit-text-size-adjust: 100%;
  color: #6a6a6a;
  font-family: 'cwTeXYen','cwTeXKai','Noto Sans TC', "微軟正黑體", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.copyRight {
  font-family: 'cwTeXYen','cwTeXKai','Noto Sans TC', "微軟正黑體",Arial,Helvetica, "Tinos", san-serif;
  font-weight: bold;
}

nav {
  font-family: 'cwTeXYen','cwTeXKai','Noto Sans TC', '微軟正黑體', Helvetica, Arial, serif, sans-serif;
}

body {
  background: #e1e1e1 repeat 0 0;
  padding: 45px 0 0 0;
}

.bg {
  background: no-repeat center bottom;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.pageWidth {
  background: #ffffff;
  width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.w3-button span {
  cursor: pointer;
}

header,
nav,
section,
footer {
  display: block;
}

a:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #393939;
}

a:hover {
  color: #003d66;
  text-decoration: underline;
  cursor: pointer;
}

nav {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
  text-align: center;
}

nav ul {
  border: solid 1px #e8e8e8;
  border-width: 1px 0 1px 0;
  padding: 5px 0;
  margin: 0 22px;
}

nav li {
  text-align: center;
  display: inline;
  margin: 0 15px;
}

nav li a {
  color: #585858;
  display: inline-block;
  padding: 2px 23px 0 27px;
  line-height: 28px;
}

nav li a:hover,
nav li.active a {
  background: #f0eded;
  color: #585858;
}

nav li:first-child {
  background: none;
}

#container {
  padding: 0 0 25px 0;
}

article ul li {
  padding-left: 15px;
}

article ul li:before {
  content: 'B';
  text-indent: -5px;
  font-weight: bold;
  font-size: 60px;
  height: 5px;
  line-height: 5px;
  width: 5px;
  border-radius: 10px;
  vertical-align: middle;
  float: left;
  margin-left: -15px;
  overflow: hidden;
  margin-top: 8px;
}

article ol {
  margin-left: 15px;
}

article ol li {
  list-style: decimal;
}

.pageControl {
  padding: 0 20px;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

.activepage .pageControl {
  transform: translate(-1000px, 0px);
  -webkit-transform: translate(-1000px, 0px);
  -moz-transform: translate(-1000px, 0px);
  -o-transform: translate(-1000px, 0px);
  -ms-transform: translate(-1000px, 0px);
}

#footer {
  text-align: center;
  padding: 10px 0 10px 0;
  text-transform: capitalize;
  background: #70747a;
  color: #ffffff;
}

.copyRight {
  text-align: center;
  opacity: 0.70;
}

#wrapper,
#widecolumn,
aside,
nav li {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

