<!DOCTYPE html>
<html>
<title>Python with W3.css Template</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    /* Full height image header */

    .bgimg-2 {
        background-position: center;
        background-size: cover;
        background-image: url("../static/images/mbr-1.jpg");
        min-height: 100%;
    }
</style>

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="http://www.liveabc.com/index.asp" class="w3-bar-item w3-button w3-wide">
                LOGO {% if name %}
                <span style="padding:48px">
                    {{ name }}
                </span>
                <script>block_Display('loginFrm', 'F');</script> {% else %} {% endif %}
            </a>
            <!-- Right-sided navbar links -->
            {% if name %}
            <div class="w3-right w3-hide-small">
                <a href="../logOut" class="w3-bar-item w3-button">
                    <i class="fa fa-sign-out"></i> LogOut</a>
            </div>
            {% endif %}
            <div class="w3-right w3-hide-small">
                <a href="#contact" class="w3-bar-item w3-button" onclick="block_Display('contact','T');">
                    <i class="fa fa-envelope"></i> CONTACT</a>
            </div>
        </div>
    </div>

    <!-- Header with full-height image -->
    <header class="bgimg-2 w3-display-container" id="home">
        <div class="w3-display-right w3-text-black col-lg-8 col-md-10" style="padding:48px">
            <span class="w3-xxlarge w3-hide-small">
                </br>
                </br>
                </br>
                </br>
                </br>
                Learning English with Take home Chef
            </span>
            <br>
            <br>
            <span class="w3-large">透過
                <em>Curtis Stone </em>與每個家庭的溫馨互動，及充滿溫暖祝福的對話， 讓你重拾英語的熱情</span>
            <div>
                {% if name %}
                <a href="#MenuFrm" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off w3-right"
                    onclick="block_Display('MenuFrm','T');">
                    Learn more today</a>
                {% else %}
                <a href="#loginFrm" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off w3-right"
                    onclick="block_Display('loginFrm','T');">
                    Login and Learn more today</a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- LOGIN Section -->
    <div class="w3-container w3-padding-32" id="loginFrm" style="display:none">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Login</h3>
        <p>Lets Login this Project.</p>
        <form name="login" method="POST" action="/loginHome">
            <input name="username" class="w3-input w3-border" type="text" placeholder="username" required autofocus>
            <input class="w3-input w3-section w3-border" type="password" placeholder="PassWord" required name="pwd">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> Submit
            </button>
        </form>
    </div>

    <!-- Menu Section -->
    <div class="w3-container w3-padding-32" id="MenuFrm" style="display:none">
        <h3 class="w3-border-top w3-border-bottom w3-border-light-grey w3-padding-16">
            精選單元
        </h3>
        <p></p>
        <div class="w3-row-padding" id="TLC02Menu">
            <div class="w3-col l2 m6 w3-margin-bottom">
                <img src=" ../static/images/mbr-1-M1.jpg" alt="P1 " style="width:100% ">
                <h5>求婚法國大餐</h5>
                <p>A French Dinner with a Marriage Proposal</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
            <div class="w3-col l2 m6 w3-margin-bottom ">
                <img src=" ../static/images/mbr-1-M2.jpg" alt="P2 " style="width:100% ">
                <h5>夏令營快樂兒童餐</h5>
                <p>Happy Meals for Happy Campers</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
            <div class="w3-col l2 m6 w3-margin-bottom ">
                <img src=" ../static/images/mbr-1-M3.jpg" alt="P3 " style="width:100% ">
                <h5>有益心臟的健康生日餐</h5>
                <p>Heart-Healthy Meals for the Birthday Girls</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
            <div class="w3-col l2 m6 w3-margin-bottom ">
                <img src=" ../static/images/mbr-1-M4.jpg" alt="P4 " style="width:100% ">
                <h5>結婚周年的海陸大餐</h5>
                <p>Gourmet Seafood Dinner for an Anniversary</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
            <div class="w3-col l2 m6 w3-margin-bottom ">
                <img src=" ../static/images/mbr-1-M5.jpg" alt="P4 " style="width:100% ">
                <h5>嗆辣墨西哥料理</h5>
                <p>Try This Spicy Mexican Cuisine</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
            <div class="w3-col l2 m6 w3-margin-bottom ">
                <img src=" ../static/images/mbr-1-M6.jpg" alt="P4 " style="width:100% ">
                <h5>溫馨的美國西南方料理</h5>
                <p>Heartwareming Southwestern Meals</p>
                <p>
                    <button class="w3-button w3-light-grey w3-block ">Start Learning</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32 " id="contact " style="display:none ">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 ">Contact</h3>
        <p>Lets get in touch and talk about your next project.</p>
        <form action="/action_page.php " target="_blank ">
            <input class="w3-input w3-border " type="text " placeholder="Name " required name="Name ">
            <input class="w3-input w3-section w3-border " type="text " placeholder="Email " required name="Email ">
            <input class="w3-input w3-section w3-border " type="text " placeholder="Subject " required name="Subject ">
            <input class="w3-input w3-section w3-border " type="text " placeholder="Comment " required name="Comment ">
            <button class="w3-button w3-black w3-section " type="submit ">
                <i class="fa fa-paper-plane "></i> SEND MESSAGE
            </button>
        </form>
    </div>
</body>

</html>